.nft-block {
    height: 743px;
    padding: 92px 111px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nft-content {
    /* display: flex; */
    width: 462px;
}

.nft-block-img {
    width: 740px;
    height: 559px;
    display: flex;
    position: relative;
}

.nft-block-img-src {
    border-radius: 24px;
}

.nft-block-img-src:hover {
    transform: scale(1.05, 1.05);
    transition: all 0.3s;
}

.up-img {
    position: absolute;
    width: 410px;
    height: 400px;
    flex-shrink: 0;
    bottom: 0;
    z-index: 2;
}

.down-img {
    position: absolute;
    right: 0;
    width: 410px;
    height: 475px;
    flex-shrink: 0;
}

@media (max-width:1250px) {
    .nft-block-img {
        width: 590px;
        height: 509px;
    }

    .up-img {
        width: 320px;
        height: 370px;
        left: 0%;
    }

    .down-img {
        width: 280px;
        height: 345px;
        right: 0%;
    }

}

@media (max-width:1050px) {

    .up-img {
        width: 320px;
        height: 370px;
        left: 0%;
    }

    .down-img {
        width: 280px;
        height: 345px;
        right: 0%;
        top: 7%;
    }

}