.timer {
    font-size: 16px;
    font-family: 'Jost';
    font-weight: 700;
    line-height: 120%;
    color: #fff;
    margin-top: 5px;
}

@media (max-width:1200px) {
    .timer {
        font-size: 14px;
    }
}